* {
  font-family: Inter;
}

.sec1 {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(./resources/Banner.png);
  width: 80%;
  height: 500px;
  background-size: cover;
  margin: 40px auto;
  border-radius: 16px;
}

.happy {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-bottom: 0;
  padding-top: 90px;
}
.new {
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
}

.sec3 {
  background-color: orange;
}

/* secoff styles */

.offsec {
  align-items: center;
}

#off {
  color: red;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  font-family: Inter;
  margin-bottom: 0;
}

#holi {
  color: red;
  font-size: 15px;
  text-align: center;
  font-family: Inter;
  margin-top: 5px;
  margin-bottom: 0;
  padding-top: 20px;
}

#all {
  font-size: 30px;
  text-align: center;
  font-family: Inter;
  margin-top: 5px;
}

#new {
  text-align: center;
}

/* sec2 styles */

.sec2 {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(resources/Vectorrr.png);
  width: 80%;
  height: auto;
  background-size: cover;
  border-radius: 8px;
  margin: 40px auto;
}

#wel {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  letter-spacing: 3px;
}

#wel2 {
  color: white;
}

#join {
  color: white;
  text-decoration: none;
}

#jj {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

/* sec3 styles */

.sec3 {
  padding-top: 40px;
  margin: 50px auto;
  width: 80%;
  border-radius: 3px;
  background-image: linear-gradient(pink, white);
}

.s3 {
  text-align: center;
  font-family: Inter;
  font-size: 22px;
}

.s {
  color: red;
}

#join {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 530px;
  margin-bottom: 50px;
}

/* sec4 styles */

.sec4 {
  display: flex;
  justify-content: center;
}

#hap {
  border: 10px solid red;
  border-radius: 50%;
  padding: 20px;
  width: 50%;
  margin-left: 40px;
}

/* sec5 style */

.sale {
  text-align: center;
  font-family: "Times New Roman";
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 0;
}

.sale-description {
  text-align: center;
  margin: 0 400px;
  color: gray;
}

#redbox {
  max-width: 80%;
  margin-left: 150px;
  z-index: 2;
  position: relative;
  padding-top: 200px;
}

#rec {
  position: absolute;
  margin-left: 1018px;
  padding-top: 50px;
  height: 300px;
  z-index: 1;
}

#grp {
  height: 20%;
  width: 10%;
  margin-left: 950px;
  z-index: 3;
}

#app {
  max-width: 30%;
  height: auto;
  margin-left: 150px;
  z-index: 4;
  position: absolute;
  padding-top: 150px;
}

/* sec6 styles */

.sec6 {
  margin-left: 150px;
  margin-top: 50px;
}

.im {
  max-width: 90%;
  height: 390px;
  padding: 10px;
}

/* sec7 design */

.sec7 {
  background-color: rgb(248, 211, 217);
  margin: 5px auto;
  padding-top: 50px;
  border-radius: 3px;
  width: 78%;
}

#vee {
  margin: 5px 520px;
  position: relative;
  max-width: 100px;
  height: auto;
}

#su {
  text-align: center;
  font-size: 30px;
}

#do {
  margin: 0 200px;
  text-align: center;
}

#subscribe {
  height: 40px;
  width: 400px;
  border-radius: 20px 0 0 20px;
}

#sub {
  background-color: red;
  width: 150px;
  border-radius: 0 20px 20px 0;
}
/* footer styles */

.footer {
  background-color: black;
}
